body{
    background-color: #F4E600;
}

li{
    background-color: transparent !important;
}

.burgers-list{
    margin-top: 12rem;
}

.burger-item{
    padding: .8rem .5rem;
}

.complete-btn{
    font-size: .7rem;
}

#pending-orders{
    background-color: white;
}

#completed-orders{
    background-color: gray;
}