<li class="list-group-item burger-item">
    {{dataValues.burger_name}}

    <button class="btn btn-outline-success devour-button" data-id="{{dataValues.id}}" data-devour="{{devour}}">
        {{#if devour}}DEVOUR!{{else}}DIGEST!{{/if}}
    </button>
</li>